  .highlight_node
  {
    fill: #7d7d7d;
  }

  .Source_Node
  {
    fill: greenyellow;
  }

  .select_node
  {
    fill: #3a3a3a;
  }


  .visit_edge
  {
    fill: #ff0000;
    stroke:#3a3a3a;
  }

  .visit_Node
  {
    fill: #ff0000;
  }

  .cluster_Highlight
  {
    fill: #76abff;
  }
  

  .table_cell_highlight
  {
    font-size: larger;
    font-weight: 1000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #00c3ff;
    color: white;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }