#MAP{
    margin-left: 23%;
    width: 840px;
    height: 730px;
}
#Driver_Details_Card {
  align-items: center;
  display: flex;
  flex-direction: column;
  border-style: dotted dashed solid double;
  width: 300px;
  height: 200px;
  z-index: 1;
  background-color: #96D4D4;
  display: flex;
  flex-direction: column;
  min-height: 97vh;
  overflow: auto;
  position: absolute;
}
body {
    background-color: 63D6C8;
  }

  #Debug{
    border-radius: 10px;
    position: absolute;
    border-style: dotted dashed solid double;
    width: 300px;
    height: 200px;
    z-index: 1;  
    display: flex;
    flex-direction: column;
    min-height: 97vh;
    overflow: auto;
    background-color:#e8e0d77e
  }

  #Control_Pallet
  {
    border-radius: 10px;
    position: absolute;
    border-style: dotted dashed solid double;
    width: 300px;
    height: 200px;
    margin-left: 79%;
    z-index: 1;  
    display: flex;
    flex-direction: column;
    min-height: 97vh;
    overflow: auto;
    background-color:#e8e0d77e
  }

  #Selection_type_pallet
  {
    margin-top: 5%;
    margin-left: 1%;
  }


  #Selected_Nodes_table th, td 
  {
      border-radius: 10px;
      border: 1px solid white;
      background-color: #96D4D4;
      text-align: center;
  }

  #Clusters_generated_table th,td
  {
      border-radius: 10px;
      border: 1px solid white;
      background-color: #96D4D4;
      text-align: center;
  }

  #Drivers_path
  {
      border-radius: 10px;
      border: 1px solid white;
      background-color: #96D4D4;
      text-align: center;
  }
  
  #Selection_type_table th , td
  {
      border-radius: 10px;
      border: 1px solid rgb(255, 255, 255);
      background-color: #96D4D4;
      text-align: center;
      width: 300px;
  }

  #overlay
  {
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    /*z-index: 1;  Sit on top */
    left: 0;
    top: 0;
    background-color: rgba(7, 7, 7, 0.55); /* Black w/opacity */
    backdrop-filter: blur(6px);
    z-index: 2;
  }



  #Welcome_Pallet
  {
      border-radius: 10px;
      margin-left: 30%;
      margin-top: 8%;
  }

  #start_button_pallet
  {
    margin-top: 1%;
    margin-left: 23%;
  }

  #Start_Simulation
  {
      margin-top: 5%;
      margin-left: 17%;
  }

  #bottom_bar
  {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 50%;
    margin-left: 24%;
    background-color: rgba(51, 99, 94, 0.564);


    z-index: 2;
  }