#MAP{
    margin-left: 23%;
    width: 840px;
    height: 730px;
}

body {
    background-color: 63D6C8;
  }


  .highlight_node
  {
    fill: #7d7d7d;
  }

  #Debug{
    position: absolute;
    border-style: dotted dashed solid double;
    width: 300px;
    height: 200px;
    z-index: 1;
  }


  .select_node
  {
    fill: #3a3a3a;
  }