#MAP{
    margin-left: 23%;
    width: 840px;
    height: 730px;
}

body {
    background-color: 63D6C8;
  }


  .highlight_node
  {
    fill: #7d7d7d;
  }

  #Debug{
    margin-top: 5%;
    position: absolute;
    border-style: dotted dashed solid double;
    width: 300px;
    height: 200px;
    z-index: 1;  
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    overflow: auto;
  }


  .select_node
  {
    fill: #3a3a3a;
  }

  #Selected_Nodes th, td {
      border-radius: 10px;
      border: 1px solid white;
      background-color: #96D4D4;
      text-align: center;
    }
  